@using System.Text
@using CloudServer.Logic

<label>Name: @LoadFile.BrowserFile.Name @GetStatus()</label>
<div class="progress">
    @{
        var progress = $"{LoadFile.ProgressPercentage:F0}%";
    }
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: @progress" aria-valuenow="@progress" aria-valuemin="0" aria-valuemax="100">@progress</div>
</div>
<br/>

@code {

    [Parameter]
    public LoadFile LoadFile { get; set; } = null!;

    private MarkupString GetStatus() {
        var sb = new StringBuilder();
        sb.Append("(");
        switch (LoadFile.Status) {
            case FileUploadStatus.None:
                return new MarkupString("");
            case FileUploadStatus.Uploading:
                sb.Append("<span style=\"color:orange;\"><b>Uploading</b></span>");
                break;
            case FileUploadStatus.Uploaded:
                sb.Append("<span style=\"color:green;\"><b>Uploaded</b></span>");
                break;
            case FileUploadStatus.Error:
                sb.Append("<span style=\"color:red;\"><b>Error</b></span>");
                break;
            default:
                throw new ArgumentOutOfRangeException();
        }
        sb.Append(")");
        return new MarkupString(sb.ToString());
    }

}